*{
  margin: 0;
  padding: 0;
}

.container{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #eeecec;
 
}

.heading{
  padding: 50px;
  font-size: 60px;
  font-weight: bold;
}

.calculater{
  padding: 20px;
  border-radius: 10px;
  border: 3px groove rgb(171, 175, 179);
  background-color: rgb(144, 147, 150);
  
}
form input{
  border: none;
  outline: 0;
  width: 60px;
  height: 60px;
  font-size: 16px;
  background-color: rgb(212, 209, 209);
  margin: 2px;
  border-radius: 10px;
  border: 3px groove rgb(171, 175, 179);
  color: black;
  cursor: pointer;
}
form input[type="button"]:hover{
  background: rgb(243, 239, 243);
}
form .display{
  display: flex;
  justify-content: flex-end;
  margin: 5px 0 15px 0;
}
form .display input{
  text-align: right;
  flex: 1;
  font-size: 40px;
  padding: 5px 10px;
}

form  .zero{
  width: 123px;
}